.main-container {
    margin-top: 80px;
    min-height: 450px;
}

.courses-list-box {
    margin: 0 90px 20px 90px;
}

.no-data-container {
    height: 60px;
    width: 1170px;
    margin: 60px 90px 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.no-data-text {
    padding-top: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 120%;
}

.modal-buttons-container {
    width: 50px;
    display: flex;
}

.mdl-btn {
    margin-right: 15px;
    min-width: 50px;
    min-height: 20px;
}