.footer {
    background-color: rgb(65, 68, 83);
    height: 40px;
    margin: 0px 0 auto 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1400px;
}

.footer-content {
    width: 1300px;
}

.copyright-text {
    float: right;
    padding-top: 13px;
    margin-right: 45px;
    font-size: small;
}