.author-tag {
    width: auto;
    height: 22px;
    outline: 1px solid black;
    border-radius: 6px;
}

.author-tag-text {
    margin-left: 6px;
    /* margin-right: 3px; */
}

.author-tag-closing:before {
    margin: 5px;
    content: "\2715";
}

.author-tag-closing:hover{
    background-color: rgb(189, 187, 187);
}

.author-tag-closing:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.author-tag{
    position: relative;
    top: 18%;
    margin-right: 5px;
}